.Container {
  display: flex;
  max-width: breakpoint(large);
  padding: 20px;
  width: 100%;
  &.column {
    flex-direction: column;
  }
  &.row {
    justify-content: flex-start;
    align-items: center;
  }
}
