.Price {
  display: inline-flex;
  font-family: $font-family;
  font-size: size(xbig);

  .currency {
    padding-right: rem(5px);
  }

  .decimals {
    font-size: size(small);
    line-height: 0.5rem;
    padding-left: rem(2px);
  }

  &.big {
    font-size: size(xxbig);

    .decimals {
      font-size: size(medium);
    }
  }
}
