$colors: (
  primary:   #fff159,
  secondary: #85C440,
  danger:    #F75757,
  success:   #A4CB1B,
  warning:   #FEBC11,
  light: (
    lightest: #FFFFFF,
    light:    #F9F9F9,
    base:     #EEEBEB,
    medium:   #E0E0E0
  ),
  dark: (
    light:   #C9C9C7,
    base:    #706f6f,
    medium:  #B1AFAF,
    darkest: #000000
  )
) !default;


@function color($color, $complementary: null) {
  @if map-has-key($colors, $color) {
    $type: map-get($colors, $color);
    @if $complementary == null {
      @if type-of($type) == map {
        @return map-get(map-get($colors, $color), 'base');
      } @else {
        @return map-get($colors, $color);
      }  
    } @else {
      @return map-get(map-get($colors, $color), $complementary); 
    }
  }
  @return inherit;
}  