.ProductDetails {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, auto);
  width: 100%;

  .button {
    margin-top: 50px;
  }

  .actions {
    max-width: 350px;
    width: 100%;
    justify-self: flex-end;
  }

  .image {
    height: 500px;
    object-fit: contain;
    width: 500px;
  }

  .description {
    margin-top: 20px;
  }
  @media (max-width: breakpoint(medium)) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);

    .image {
      height: 300px;
      width: 100%;
    }

    .actions {
      max-width: none;
    }

    .description {
      margin-top: 70px;
    }
  }
}
