$color: color(dark, base);

.Breadcrumb {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 10px 0;
  width: 100%;

  li {
    color: color(dark, base);
    display: inline;
    font-family: $font-family;
    font-size: size(small);
    font-weight: $font-thin;
    line-height: normal;
  }

  svg {
    margin: 0 rem(7px);
    width: rem(7px);

    path {
      fill: $color;
    }
  }
}
